.main {
  margin-top: 130px;
  @media screen and (max-width: 999px) {
    & {
      margin-top: 170px;
    }
  }
  &__heading {
    margin-bottom: 190px;
    position: relative;
    top: 0;
    left: 0;
    @media screen and (max-width: 992px) {
      margin-bottom: 150px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 100px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 50px;
    }
  }
  &__services {
  }
  &__providers {
    margin-top: 220px;
    @media screen and (max-width: 992px) {
      margin-top: 190px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 130px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 90px;
    }
  }
  &__apps {
    margin-top: 170px;
    @media screen and (max-width: 992px) {
      margin-top: 140px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 80px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 60px;
    }
  }
}

// ============ heading =============

.heading {
  &__container {
  }
  &__body {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media screen and (max-width: 999px) {
      & {
        display: block;
        text-align: center;
      }
    }
  }
  &__info {
    flex: 0 1 50%;
  }
  &__label {
    max-width: 427px;
    margin-bottom: 25px;
    padding-right: 10px;
    @media screen and (max-width: 999px) {
      & {
        max-width: none;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
  &__text {
    font-size: 21px;
    line-height: 152%;
    font-weight: 300;
    color: $fontBaseColor;
    margin-bottom: 45px;
    padding-right: 10px;
    max-width: 465px;
    @media screen and (max-width: 999px) {
      & {
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }
    @media screen and (max-width: 992px) {
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__button {
    @include button($blueColor, $whiteColor);
    &:hover {
      background-color: $whiteColor;
      color: $fontBoldColor;
      outline: 1px solid $blueColor;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  &__link {
  }
  &__image {
    max-width: 500px;
    & img {
      width: 100%;
    }
    @media screen and (max-width: 999px) {
      & {
        margin: 0 auto;
        margin-top: 30px;
        max-width: 400px;
      }
    }
  }
}
.dottedImage {
  position: absolute;
  top: 0;
  left: -50px;
  @media screen and (max-width: 999px) {
    & {
      opacity: 0.3;
    }
  }
}

// ==================================

// ============ services ============

.services {
  &__container {
    max-width: 1247px;
  }
  &__body {
  }
  &__heading {
    text-align: center;
    margin-bottom: 80px;
    @media screen and (max-width: 992px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
  &__label {
    text-align: center;
    padding-bottom: 26px;
    @media screen and (max-width: 992px) {
      padding-bottom: 20px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 16px;
    }
    @media screen and (max-width: 576px) {
      padding-bottom: 10px;
    }
  }
  &__line {
  }
  &__text {
    text-align: center;
    max-width: 952px;
    margin: 0 auto;
    @media screen and (max-width: 1015px) {
      padding: 0px 15px;
    }
  }
  &__items {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 33px;
    @media screen and (max-width: 1235px) {
      justify-content: center;
    }
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 15px;
    }
  }
  &__item {
    flex: 0 1 30%;

    display: flex;
    flex-flow: column nowrap;

    margin: 20px;

    @media screen and (max-width: 1235px) {
      flex: 0 1 45%;
      margin: 10px;
    }
    @media screen and (max-width: 679px) {
      flex: 0 1 100%;
      margin: 0px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__map {
    text-align: center;
  }
  &__button {
    @include button($whiteColor, $blueColor);
    outline: 1.4px solid #458ff6;
    padding: 0px 51px;
    border-radius: 55px;

    transition: 0.5s;
    &:hover {
      @include button($blueColor, $whiteColor);
      outline: none;
      padding: 0px 51px;
    }
    @media screen and (max-width: 589px) {
      width: 100%;
    }
  }
}

.item-service {
  padding: 54px 45px 47px 40px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  background-color: $whiteColor;

  @media screen and (max-width: 679px) {
    padding: 20px;
  }

  &__icon {
    margin-bottom: 22px;
    min-height: 109px;
    @media screen and (max-width: 992px) {
      margin-bottom: 18px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 5px;
    }
  }
  &__label {
    font-size: 24px;
    line-height: 233%;
    font-weight: 700;
    @media screen and (max-width: 992px) {
      font-size: 22px;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
    @media screen and (max-width: 576px) {
      font-size: 18px;
    }
  }
  &__text {
    flex: 1 1 100%;
    max-width: 266px;
    font-size: 16px;
    line-height: 158%;
    color: $fontBaseColor;
    @media screen and (max-width: 679px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 992px) {
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {
      font-size: 15px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
  }
}

// ==================================

// ============ providers ===========

.providers {
  &__container {
  }
  &__body {
  }
  &__items {
  }
}

.row-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 851px) {
    flex-flow: column nowrap;
    text-align: center;
  }
  &__image {
    @media screen and (max-width: 1461px) {
      max-width: 650px;
      & img {
        width: 100%;
      }
    }
    @media screen and (max-width: 851px) {
      max-width: 350px;
    }
  }
  &__info {
  }
  &__label {
    max-width: 481px;
    margin-bottom: 26px;
    @media screen and (max-width: 851px) {
      margin-bottom: 10px;
    }
  }
  &__text {
    max-width: 450px;
    margin-bottom: 37px;
    padding-right: 40px;
    @media screen and (max-width: 851px) {
      padding-right: 0px;
      padding: 0px 10px;
      margin-bottom: 30px;
    }
  }
  &__button {
    @include button($whiteColor, $blueColor);
    outline: 1.4px solid #458ff6;
    padding: 0px 51px;
    border-radius: 55px;
    transition: 0.5s;
    &:hover {
      @include button($blueColor, $whiteColor);
      outline: none;
      padding: 0px 51px;
    }
    @media screen and (max-width: 589px) {
      width: 100%;
    }
  }
  &__link {
  }
}
.providers-image {
  margin-right: 137px;
  margin-left: -100px;
  @media screen and (max-width: 1461px) {
    margin-left: 0px;
  }
  @media screen and (max-width: 1113px) {
    margin-right: 50px;
  }
  @media screen and (max-width: 851px) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

// ==================================

// ============ apps ================

.apps {
  &__container {
  }
  &__body {
  }
  &__items {
    @media screen and (max-width: 851px) {
      flex-flow: column-reverse nowrap;
      text-align: center;
    }
  }
}

.apps-image {
  margin-left: 137px;
  margin-right: -100px;
  @media screen and (max-width: 1461px) {
    margin-right: 0px;
  }
  @media screen and (max-width: 1113px) {
    margin-left: 50px;
  }
  @media screen and (max-width: 851px) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.apps-label {
  max-width: 254px;
  @media screen and (max-width: 851px) {
    max-width: none;
  }
}
.download-button {
  transition: 0.5s;
  &:hover {
    .download-link {
      &:after {
        content: "";
        width: 15px;
        height: 15px;
        padding-right: 30px;
        background: url("../../img/icons/arrow-lite.svg") 6.5px 2px / 17px 17px no-repeat;
      }
    }
  }
}
.download-link {
  &:after {
    content: "";
    width: 15px;
    height: 15px;
    padding-right: 30px;
    background: url("../img/icons/arrow.svg") 10px 3px no-repeat;
  }
}
// ==================================
