// font colors
$fontBaseColor: #7d7987;
$fontBoldColor: #000000;
$fontWhiteColor: #ffffff;
$fontSubWhiteColor: rgba(255, 255, 255, 0.9);

// base colors
$blueColor: #458ff6;
$whiteColor: #ffffff;
$baseGradient: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
$subGradient: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);

//buttons
@mixin button($backgroundColor, $fontColor) {
  min-height: 56px;
  font-size: 18px;
  line-height: 333%;
  color: $fontColor;
  background-color: $backgroundColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 55px;
  padding: 0px 43px;

  transition: 0.3s;
}

h1 {
  font-size: 48px;
  line-height: 117%;
  color: $fontBoldColor;
  font-weight: 700;
  @media screen and (max-width: 992px) {
    font-size: 40px;
  }
  @media screen and (max-width: 768px) {
    font-size: 35px;
  }
  @media screen and (max-width: 576px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 156%;
  @media screen and (max-width: 992px) {
    font-size: 30px;
  }
  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
  @media screen and (max-width: 576px) {
    font-size: 20px;
  }
}
h4 {
  font-size: 21px;
  line-height: 152%;
  color: $fontBoldColor;
  font-weight: 700;
  @media screen and (max-width: 992px) {
    font-size: 19px;
  }
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
  @media screen and (max-width: 576px) {
    font-size: 17px;
  }
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 167%;
  color: $fontBaseColor;
  @media screen and (max-width: 992px) {
    font-size: 17px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 576px) {
    font-size: 15px;
  }
}
